<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/insertdept" method="post">
        Department Number:<input type="text" name="DEPTNO" id="DEPTNO"><br/>
        Department Name:<input type="text" name="DNAME" id="DNAME"><br/>
        Location:<input type="text" name="LOC" id="LOC"><br/>
        <button type="submit" name="btn" id="btn">Add new Department</button>
    </form>
</body>
</html>